# maven ignore
target
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings
.project
.classpath

# idea ignore
.idea
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# logs ignore
logs

# gulp ignore
node_modules

# static ignore
tc-openapi/**/dist
tc-openapi/**/manifest
tc-openapi/**/_*.min.js
tc-openapi/**/_*.min.css

# disconf ignore
disconf
