div.body-block {
    min-height: 650px;
    padding: 10px 0 10px 0;
}

div.body-block div.home-body-left {
    width: 210px;
    float: left;
}

div.body-block div.home-body-right {
    width: 910px;
    float: right;
}

div.home-body-right div.home-content-title {
    height: 45px;
    width: 910px;
    background-color: #2B2E37;
    color: #FFFFFF;
    line-height: 45px;
    font-size: 14px;
}

div.home-body-right div.home-content-body {
    border-left: 2px solid #2B2E37;
    border-bottom: 2px solid #2B2E37;
    border-right: 2px solid #2B2E37;
    width: 886px;
    padding: 20px 10px 20px 10px;
}

div.home-content-title p {
    margin-left: 20px;
}

div.home-about-me-left {
    width: 180px;
    height: 350px;
    text-align: center;
    float: left;
    padding: 20px 0 0 40px;
}

div.home-about-me-left img.about-me-avatar {
    width: 180px;
    border-radius: 90px;
    margin-bottom: 20px;
}

div.home-about-me-right {
    float: right;
    width: 666px;
}

div.about-me-nickname,
div.about-me-desc,
div.about-me-permissions {
    width: 520px !important;
}

div.about-me-email,
div.about-me-mobile {
    width: 389px !important;
}

div.about-me-active-email,
div.about-me-active-mobile {
    width: 106px !important;
}

div.about-me-province,
div.about-me-city,
div.about-me-district {
    width: 156.5px !important;
}