<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysu.zyw.tc.api.dao.mappers.TcAccountAssistMapper">
  <resultMap id="BaseResultMap" type="com.ysu.zyw.tc.api.dao.po.TcAccountAssist">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="signup_platform" jdbcType="VARCHAR" property="signupPlatform" />
    <result column="signup_timestamp" jdbcType="TIMESTAMP" property="signupTimestamp" />
    <result column="phone_activated" jdbcType="VARCHAR" property="phoneActivated" />
    <result column="email_activated" jdbcType="VARCHAR" property="emailActivated" />
    <result column="last_login_timestamp" jdbcType="TIMESTAMP" property="lastLoginTimestamp" />
    <result column="updated_person" jdbcType="VARCHAR" property="updatedPerson" />
    <result column="updated_timestamp" jdbcType="TIMESTAMP" property="updatedTimestamp" />
    <result column="created_person" jdbcType="VARCHAR" property="createdPerson" />
    <result column="created_timestamp" jdbcType="TIMESTAMP" property="createdTimestamp" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, signup_platform, signup_timestamp, phone_activated, email_activated, last_login_timestamp, 
    updated_person, updated_timestamp, created_person, created_timestamp
  </sql>
  <select id="selectByExample" parameterType="com.ysu.zyw.tc.api.dao.po.TcAccountAssistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mb_account_assist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startLine != null and pageSize != null and pageSize > 0">
      limit #{startLine} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mb_account_assist
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mb_account_assist
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ysu.zyw.tc.api.dao.po.TcAccountAssistExample">
    delete from mb_account_assist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ysu.zyw.tc.api.dao.po.TcAccountAssist">
    insert into mb_account_assist (id, signup_platform, signup_timestamp, 
      phone_activated, email_activated, last_login_timestamp, 
      updated_person, updated_timestamp, created_person, 
      created_timestamp)
    values (#{id,jdbcType=VARCHAR}, #{signupPlatform,jdbcType=VARCHAR}, #{signupTimestamp,jdbcType=TIMESTAMP}, 
      #{phoneActivated,jdbcType=VARCHAR}, #{emailActivated,jdbcType=VARCHAR}, #{lastLoginTimestamp,jdbcType=TIMESTAMP}, 
      #{updatedPerson,jdbcType=VARCHAR}, #{updatedTimestamp,jdbcType=TIMESTAMP}, #{createdPerson,jdbcType=VARCHAR}, 
      #{createdTimestamp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ysu.zyw.tc.api.dao.po.TcAccountAssist">
    insert into mb_account_assist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="signupPlatform != null">
        signup_platform,
      </if>
      <if test="signupTimestamp != null">
        signup_timestamp,
      </if>
      <if test="phoneActivated != null">
        phone_activated,
      </if>
      <if test="emailActivated != null">
        email_activated,
      </if>
      <if test="lastLoginTimestamp != null">
        last_login_timestamp,
      </if>
      <if test="updatedPerson != null">
        updated_person,
      </if>
      <if test="updatedTimestamp != null">
        updated_timestamp,
      </if>
      <if test="createdPerson != null">
        created_person,
      </if>
      <if test="createdTimestamp != null">
        created_timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="signupPlatform != null">
        #{signupPlatform,jdbcType=VARCHAR},
      </if>
      <if test="signupTimestamp != null">
        #{signupTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneActivated != null">
        #{phoneActivated,jdbcType=VARCHAR},
      </if>
      <if test="emailActivated != null">
        #{emailActivated,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTimestamp != null">
        #{lastLoginTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedPerson != null">
        #{updatedPerson,jdbcType=VARCHAR},
      </if>
      <if test="updatedTimestamp != null">
        #{updatedTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createdPerson != null">
        #{createdPerson,jdbcType=VARCHAR},
      </if>
      <if test="createdTimestamp != null">
        #{createdTimestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ysu.zyw.tc.api.dao.po.TcAccountAssistExample" resultType="java.lang.Long">
    select count(*) from mb_account_assist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mb_account_assist
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.signupPlatform != null">
        signup_platform = #{record.signupPlatform,jdbcType=VARCHAR},
      </if>
      <if test="record.signupTimestamp != null">
        signup_timestamp = #{record.signupTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.phoneActivated != null">
        phone_activated = #{record.phoneActivated,jdbcType=VARCHAR},
      </if>
      <if test="record.emailActivated != null">
        email_activated = #{record.emailActivated,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLoginTimestamp != null">
        last_login_timestamp = #{record.lastLoginTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedPerson != null">
        updated_person = #{record.updatedPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedTimestamp != null">
        updated_timestamp = #{record.updatedTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createdPerson != null">
        created_person = #{record.createdPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTimestamp != null">
        created_timestamp = #{record.createdTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mb_account_assist
    set id = #{record.id,jdbcType=VARCHAR},
      signup_platform = #{record.signupPlatform,jdbcType=VARCHAR},
      signup_timestamp = #{record.signupTimestamp,jdbcType=TIMESTAMP},
      phone_activated = #{record.phoneActivated,jdbcType=VARCHAR},
      email_activated = #{record.emailActivated,jdbcType=VARCHAR},
      last_login_timestamp = #{record.lastLoginTimestamp,jdbcType=TIMESTAMP},
      updated_person = #{record.updatedPerson,jdbcType=VARCHAR},
      updated_timestamp = #{record.updatedTimestamp,jdbcType=TIMESTAMP},
      created_person = #{record.createdPerson,jdbcType=VARCHAR},
      created_timestamp = #{record.createdTimestamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ysu.zyw.tc.api.dao.po.TcAccountAssist">
    update mb_account_assist
    <set>
      <if test="signupPlatform != null">
        signup_platform = #{signupPlatform,jdbcType=VARCHAR},
      </if>
      <if test="signupTimestamp != null">
        signup_timestamp = #{signupTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="phoneActivated != null">
        phone_activated = #{phoneActivated,jdbcType=VARCHAR},
      </if>
      <if test="emailActivated != null">
        email_activated = #{emailActivated,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTimestamp != null">
        last_login_timestamp = #{lastLoginTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedPerson != null">
        updated_person = #{updatedPerson,jdbcType=VARCHAR},
      </if>
      <if test="updatedTimestamp != null">
        updated_timestamp = #{updatedTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createdPerson != null">
        created_person = #{createdPerson,jdbcType=VARCHAR},
      </if>
      <if test="createdTimestamp != null">
        created_timestamp = #{createdTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ysu.zyw.tc.api.dao.po.TcAccountAssist">
    update mb_account_assist
    set signup_platform = #{signupPlatform,jdbcType=VARCHAR},
      signup_timestamp = #{signupTimestamp,jdbcType=TIMESTAMP},
      phone_activated = #{phoneActivated,jdbcType=VARCHAR},
      email_activated = #{emailActivated,jdbcType=VARCHAR},
      last_login_timestamp = #{lastLoginTimestamp,jdbcType=TIMESTAMP},
      updated_person = #{updatedPerson,jdbcType=VARCHAR},
      updated_timestamp = #{updatedTimestamp,jdbcType=TIMESTAMP},
      created_person = #{createdPerson,jdbcType=VARCHAR},
      created_timestamp = #{createdTimestamp,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectPrimaryKeyByExample" parameterType="com.ysu.zyw.tc.api.dao.po.TcAccountAssistExample" resultType="java.lang.String">
    select
    <if test="distinct">
      distinct
    </if>
    id
    from mb_account_assist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startLine != null and pageSize != null and pageSize > 0">
      limit #{startLine}, #{pageSize}
    </if>
  </select>
  <insert id="batchInsert" parameterType="com.ysu.zyw.tc.api.dao.po.TcAccountAssist">
    insert into mb_account_assist (
      id, 
      signup_platform, 
      signup_timestamp, 
      phone_activated, 
      email_activated, 
      last_login_timestamp, 
      updated_person, 
      updated_timestamp, 
      created_person, 
      created_timestamp
    ) values 
    <foreach collection="list" item="item" separator=", ">
      (#{item.id,jdbcType=VARCHAR}, 
      #{item.signupPlatform,jdbcType=VARCHAR}, 
      #{item.signupTimestamp,jdbcType=TIMESTAMP}, 
      #{item.phoneActivated,jdbcType=VARCHAR}, 
      #{item.emailActivated,jdbcType=VARCHAR}, 
      #{item.lastLoginTimestamp,jdbcType=TIMESTAMP}, 
      #{item.updatedPerson,jdbcType=VARCHAR}, 
      #{item.updatedTimestamp,jdbcType=TIMESTAMP}, 
      #{item.createdPerson,jdbcType=VARCHAR}, 
      #{item.createdTimestamp,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>