<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysu.zyw.tc.dao.mappers.TcMbgMapper">
    <resultMap id="BaseResultMap" type="com.ysu.zyw.tc.dao.po.TcMbg">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="enable" jdbcType="VARCHAR" property="enable"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="join_date" jdbcType="DATE" property="joinDate"/>
        <result column="join_time" jdbcType="TIME" property="joinTime"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, name, enable, birthday, join_date, join_time
    </sql>
    <select id="selectByExample" parameterType="com.ysu.zyw.tc.dao.po.TcMbgExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_mbg
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="startLine != null and pageSize != null and pageSize > 0">
            limit #{startLine} , #{pageSize}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_mbg
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM t_mbg
        WHERE id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.ysu.zyw.tc.dao.po.TcMbgExample">
        delete from t_mbg
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.ysu.zyw.tc.dao.po.TcMbg">
        INSERT INTO t_mbg (id, name, enable,
                           birthday, join_date, join_time
        )
        VALUES (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{enable,jdbcType=VARCHAR},
                #{birthday,jdbcType=TIMESTAMP}, #{joinDate,jdbcType=DATE}, #{joinTime,jdbcType=TIME}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.ysu.zyw.tc.dao.po.TcMbg">
        insert into t_mbg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="enable != null">
                enable,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="joinDate != null">
                join_date,
            </if>
            <if test="joinTime != null">
                join_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="joinDate != null">
                #{joinDate,jdbcType=DATE},
            </if>
            <if test="joinTime != null">
                #{joinTime,jdbcType=TIME},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.ysu.zyw.tc.dao.po.TcMbgExample" resultType="java.lang.Long">
        select count(*) from t_mbg
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_mbg
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.enable != null">
                enable = #{record.enable,jdbcType=VARCHAR},
            </if>
            <if test="record.birthday != null">
                birthday = #{record.birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="record.joinDate != null">
                join_date = #{record.joinDate,jdbcType=DATE},
            </if>
            <if test="record.joinTime != null">
                join_time = #{record.joinTime,jdbcType=TIME},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_mbg
        set id = #{record.id,jdbcType=VARCHAR},
        name = #{record.name,jdbcType=VARCHAR},
        enable = #{record.enable,jdbcType=VARCHAR},
        birthday = #{record.birthday,jdbcType=TIMESTAMP},
        join_date = #{record.joinDate,jdbcType=DATE},
        join_time = #{record.joinTime,jdbcType=TIME}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.ysu.zyw.tc.dao.po.TcMbg">
        update t_mbg
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=TIMESTAMP},
            </if>
            <if test="joinDate != null">
                join_date = #{joinDate,jdbcType=DATE},
            </if>
            <if test="joinTime != null">
                join_time = #{joinTime,jdbcType=TIME},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ysu.zyw.tc.dao.po.TcMbg">
        UPDATE t_mbg
        SET name      = #{name,jdbcType=VARCHAR},
            enable    = #{enable,jdbcType=VARCHAR},
            birthday  = #{birthday,jdbcType=TIMESTAMP},
            join_date = #{joinDate,jdbcType=DATE},
            join_time = #{joinTime,jdbcType=TIME}
        WHERE id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectPrimaryKeyByExample" parameterType="com.ysu.zyw.tc.dao.po.TcMbgExample"
            resultType="java.lang.String">
        select
        <if test="distinct">
            distinct
        </if>
        id
        from t_mbg
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="startLine != null and pageSize != null and pageSize > 0">
            limit #{startLine}, #{pageSize}
        </if>
    </select>
    <insert id="batchInsert" parameterType="com.ysu.zyw.tc.dao.po.TcMbg">
        insert into t_mbg (
        id,
        name,
        enable,
        birthday,
        join_date,
        join_time
        ) values
        <foreach collection="list" item="item" separator=", ">
            (#{item.id,jdbcType=VARCHAR},
            #{item.name,jdbcType=VARCHAR},
            #{item.enable,jdbcType=VARCHAR},
            #{item.birthday,jdbcType=TIMESTAMP},
            #{item.joinDate,jdbcType=DATE},
            #{item.joinTime,jdbcType=TIME})
        </foreach>
    </insert>
</mapper>